
#title{
    padding: 10px 10px;
    text-align: center;
    color: plum;
    font-size: 15px;
    border-bottom: 2px solid;
}
#player-section{
    display: flex;
    justify-content: space-around;   
    border: 5px solid rgb(255, 0, 221);
    padding: 20px 20px 60px 20px;
    margin: 50px 180px 20px 180px;
    position: relative;
}

#computer-section{
    display: flex;
    justify-content: space-around;   
    border: 5px solid rgb(255, 0, 221);
    padding: 20px 20px 60px 20px;
    margin: 20px 500px 10px 500px;
    position: relative;
}

#result-section{
    display: flex;

    justify-content: space-around;   
    border: 5px solid rgb(255, 0, 221);
    padding: 20px;
    margin: 10px 180px 50px 180px;
}
button{
    border: solid rgba(255, 192, 203, 0.62);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.62);
}
#result{
    font-size: 20px;
    font-weight: bold;
}
.whos-throw{
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

img{
border: 2px solid rgba(128, 128, 128, 0.616);
padding: 10px;
}

body{
    background-color: rgba(128, 128, 128, 0.226);
}